.header {
  background-color: #000;
  padding: 16px;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__auth {
  display: flex;
  gap: 12px;
}

.header__button {
  background-color: #fff;
  color: #1db954;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header__button--home {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 1;
}

.header__home-link:hover {
  color: #1db954;
}

.header__button:hover {
  background-color: #f0f0f0;
}

.header__button--signup {
  background-color: #191414;
  color: #fff;
}
